In [1]:
import matplotlib.pyplot as plt
import CostFunctionContainer
import ipysheet
import ipywidgets as widgets

# Angabe

# Varibalen Eingang

# in diese [Exceltabelle](./BasicInformationGathering/BasicinsightsSombrero.xlsx)  erstellt und mit folgender  [URL](https://convertio.co/de/xlsx-html/) in eine HTML-Tabelle konvertiert

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="generator" content="PhpSpreadsheet, https://github.com/PHPOffice/PhpSpreadsheet">
      <meta name="author" content="Jochen Hollich" />
    <style type="text/css">
      html { font-family:Calibri, Arial, Helvetica, sans-serif; font-size:11pt; background-color:white }
      a.comment-indicator:hover + div.comment { background:#ffd; position:absolute; display:block; border:1px solid black; padding:0.5em }
      a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em }
      div.comment { display:none }
      table { border-collapse:collapse; page-break-after:always }
      .gridlines td { border:1px dotted black }
      .gridlines th { border:1px dotted black }
      .b { text-align:center }
      .e { text-align:center }
      .f { text-align:right }
      .inlineStr { text-align:left }
      .n { text-align:right }
      .s { text-align:left }
      td.style0 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      th.style0 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      td.style1 { vertical-align:middle; text-align:right; padding-right:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Arial'; font-size:9pt; background-color:#F5F5F5 }
      th.style1 { vertical-align:middle; text-align:right; padding-right:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Arial'; font-size:9pt; background-color:#F5F5F5 }
      td.style2 { vertical-align:middle; text-align:right; padding-right:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Arial'; font-size:9pt; background-color:#FFFFFF }
      th.style2 { vertical-align:middle; text-align:right; padding-right:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Arial'; font-size:9pt; background-color:#FFFFFF }
      td.style3 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      th.style3 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      td.style4 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:16pt; background-color:white }
      th.style4 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:16pt; background-color:white }
      td.style5 { vertical-align:bottom; text-align:center; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:24pt; background-color:white }
      th.style5 { vertical-align:bottom; text-align:center; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:24pt; background-color:white }
      td.style6 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:24pt; background-color:white }
      th.style6 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:24pt; background-color:white }
      td.style7 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      th.style7 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      td.style8 { vertical-align:bottom; text-align:center; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:16pt; background-color:white }
      th.style8 { vertical-align:bottom; text-align:center; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:16pt; background-color:white }
      td.style9 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      th.style9 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      td.style10 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      th.style10 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      table.sheet0 col.col0 { width:112.51110982pt }
      table.sheet0 col.col1 { width:76.58888801pt }
      table.sheet0 col.col2 { width:75.23333247pt }
      table.sheet0 col.col3 { width:75.23333247pt }
      table.sheet0 col.col4 { width:92.17777672pt }
      table.sheet0 col.col5 { width:54.2222216pt }
      table.sheet0 col.col6 { width:54.2222216pt }
      table.sheet0 col.col7 { width:42pt }
      table.sheet0 tr { height:15pt }
      table.sheet0 tr.row0 { height:31.5pt }
      table.sheet0 tr.row1 { height:21pt }
      table.sheet0 tr.row13 { height:34.5pt }
      table.sheet0 tr.row14 { height:30pt }
      table.sheet0 tr.row15 { height:30pt }
      table.sheet0 tr.row16 { height:90pt }
      table.sheet0 tr.row17 { height:18.75pt }
      table.sheet0 tr.row21 { height:31.5pt }
      table.sheet0 tr.row22 { height:21pt }
      table.sheet0 tr.row31 { height:31.5pt }
      table.sheet0 tr.row32 { height:21pt }
    </style>
  </head>

  <body>
<style>
@page { margin-left: 0.7in; margin-right: 0.7in; margin-top: 0.787401575in; margin-bottom: 0.787401575in; }
body { margin-left: 0.7in; margin-right: 0.7in; margin-top: 0.787401575in; margin-bottom: 0.787401575in; }
</style>
    <table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0 gridlines">
        <col class="col0">
        <col class="col1">
        <col class="col2">
        <col class="col3">
        <col class="col4">
        <col class="col5">
        <col class="col6">
        <col class="col7">
        <tbody>
          <tr class="row0">
            <td class="column0 style5 s style5" colspan="4">Fixed Cost</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row1">
            <td class="column0 style4 s">Posten</td>
            <td class="column1 style4 s">Cost/Month</td>
            <td class="column2 style4 s">Cost/1-Year</td>
            <td class="column3 style4 s">Cost/5-Year</td>
            <td class="column4 style8 s style8" colspan="2">Info1</td>
            <td class="column6 style8 s style8" colspan="2">Info2</td>
          </tr>
          <tr class="row2">
            <td class="column0">&nbsp;</td>
            <td class="column1">&nbsp;</td>
            <td class="column2">&nbsp;</td>
            <td class="column3">&nbsp;</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7 style7 null"></td>
          </tr>
          <tr class="row3">
            <td class="column0 style0 s">Overhead Sign</td>
            <td class="column1 style9 f">66.67</td>
            <td class="column2 style9 f">800.00</td>
            <td class="column3 style9 n">4000.00</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7 style7 null"></td>
          </tr>
          <tr class="row4">
            <td class="column0 style0 s">Outside Sign</td>
            <td class="column1 style9 f">50.00</td>
            <td class="column2 style9 f">600.00</td>
            <td class="column3 style9 n">3000.00</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7 style7 null"></td>
          </tr>
          <tr class="row5">
            <td class="column0 style0 s">Display Case for Fruit</td>
            <td class="column1 style9 f">133.33</td>
            <td class="column2 style9 f">1600.00</td>
            <td class="column3 style9 n">8000.00</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7 style7 null"></td>
          </tr>
          <tr class="row6">
            <td class="column0 style0 s">Ice Cream Maker</td>
            <td class="column1 style9 f">416.67</td>
            <td class="column2 style9 f">5000.00</td>
            <td class="column3 style9 n">25000.00</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7 style7 null"></td>
          </tr>
          <tr class="row7">
            <td class="column0 style0 s">Ice Maker</td>
            <td class="column1 style9 f">133.33</td>
            <td class="column2 style9 f">1600.00</td>
            <td class="column3 style9 n">8000.00</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7 style7 null"></td>
          </tr>
          <tr class="row8">
            <td class="column0 style0 s">Fruit Juice Extractor</td>
            <td class="column1 style9 f">58.33</td>
            <td class="column2 style9 f">700.00</td>
            <td class="column3 style9 n">3500.00</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7 style7 null"></td>
          </tr>
          <tr class="row9">
            <td class="column0 style0 s">Orange Squeezer</td>
            <td class="column1 style9 f">20.00</td>
            <td class="column2 style9 f">240.00</td>
            <td class="column3 style9 n">1200.00</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7 style7 null"></td>
          </tr>
          <tr class="row10">
            <td class="column0 style0 s">Rent</td>
            <td class="column1 style9 f">5000.00</td>
            <td class="column2 style9 n">60000.00</td>
            <td class="column3 style9 f">300000.00</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7 style7 null"></td>
          </tr>
          <tr class="row11">
            <td class="column0 style0 s">Construction</td>
            <td class="column1 style9 f">200.00</td>
            <td class="column2 style9 f">2400.00</td>
            <td class="column3 style9 n">12000.00</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7 style7 null"></td>
          </tr>
          <tr class="row12">
            <td class="column0 style0 s">Water and Electricity</td>
            <td class="column1 style9 n">800.00</td>
            <td class="column2 style9 f">9600.00</td>
            <td class="column3 style9 f">48000.00</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7 style7 null"></td>
          </tr>
          <tr class="row13">
            <td class="column0 style0 s">Security</td>
            <td class="column1 style9 n">700.00</td>
            <td class="column2 style9 f">8400.00</td>
            <td class="column3 style9 f">42000.00</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7 style7 null"></td>
          </tr>
          <tr class="row14">
            <td class="column0 style0 s">Wages / Total</td>
            <td class="column1 style9 f">4800.00</td>
            <td class="column2 style9 f">57600.00</td>
            <td class="column3 style9 f">288000.00</td>
            <td class="column4 style7 s">Wage / Employee / month</td>
            <td class="column5 style7 n">1200</td>
            <td class="column6 style7 s">Number of Employees</td>
            <td class="column7 style7 n">4</td>
          </tr>
          <tr class="row15">
            <td class="column0 style0 s">Accomodation / Total</td>
            <td class="column1 style9 f">1600.00</td>
            <td class="column2 style9 f">19200.00</td>
            <td class="column3 style9 f">96000.00</td>
            <td class="column4 style7 s">Cost Accomodation / Employee / month</td>
            <td class="column5 style7 n">400</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row16">
            <td class="column0 style0 s">Interest</td>
            <td class="column1 style9 n">200.00</td>
            <td class="column2 style9 f">2400.00</td>
            <td class="column3 style9 f">12000.00</td>
            <td class="column4 style7 s">in der angabe gibt es noch die jährliche Rückzahlung / die wird in der Kostenrechnung nicht berücksichtig</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row17">
            <td class="column0">&nbsp;</td>
            <td class="column1 style9 null"></td>
            <td class="column2 style9 null"></td>
            <td class="column3 style9 null"></td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row18">
            <td class="column0 style3 s">Sum</td>
            <td class="column1 style10 f">13978.33</td>
            <td class="column2 style10 f">167740.00</td>
            <td class="column3 style10 f">838700.00</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row19">
            <td class="column0">&nbsp;</td>
            <td class="column1">&nbsp;</td>
            <td class="column2">&nbsp;</td>
            <td class="column3">&nbsp;</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row20">
            <td class="column0">&nbsp;</td>
            <td class="column1">&nbsp;</td>
            <td class="column2">&nbsp;</td>
            <td class="column3">&nbsp;</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row21">
            <td class="column0 style5 s style5" colspan="2">Variable Cost/Unit</td>
            <td class="column2 style6 null"></td>
            <td class="column3 style6 null"></td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row22">
            <td class="column0 style4 s">Posten</td>
            <td class="column1 style4 s">Cost/Unit</td>
            <td class="column2 style4 null"></td>
            <td class="column3 style4 null"></td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row23">
            <td class="column0 style2 s">Posten</td>
            <td class="column1 style2 s">Kosten</td>
            <td class="column2">&nbsp;</td>
            <td class="column3">&nbsp;</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row24">
            <td class="column0 style1 s">Fruit</td>
            <td class="column1 style1 n">1.2</td>
            <td class="column2">&nbsp;</td>
            <td class="column3">&nbsp;</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row25">
            <td class="column0 style2 s">Powder</td>
            <td class="column1 style2 n">0.35</td>
            <td class="column2">&nbsp;</td>
            <td class="column3">&nbsp;</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row26">
            <td class="column0 style2 s">Cup</td>
            <td class="column1 style2 n">0.45</td>
            <td class="column2">&nbsp;</td>
            <td class="column3">&nbsp;</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row27">
            <td class="column0">&nbsp;</td>
            <td class="column1">&nbsp;</td>
            <td class="column2">&nbsp;</td>
            <td class="column3">&nbsp;</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row28">
            <td class="column0 style2 s">Sum </td>
            <td class="column1 style0 f">2</td>
            <td class="column2">&nbsp;</td>
            <td class="column3">&nbsp;</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row29">
            <td class="column0 style2 null"></td>
            <td class="column1">&nbsp;</td>
            <td class="column2">&nbsp;</td>
            <td class="column3">&nbsp;</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row30">
            <td class="column0 style2 null"></td>
            <td class="column1">&nbsp;</td>
            <td class="column2">&nbsp;</td>
            <td class="column3">&nbsp;</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row31">
            <td class="column0 style5 s style5" colspan="2">Selling Price</td>
            <td class="column2">&nbsp;</td>
            <td class="column3">&nbsp;</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row32">
            <td class="column0 style4 s">Posten</td>
            <td class="column1 style4 s">Cost/Unit</td>
            <td class="column2">&nbsp;</td>
            <td class="column3">&nbsp;</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
          <tr class="row33">
            <td class="column0 style2 s">SP</td>
            <td class="column1 style2 n">10</td>
            <td class="column2">&nbsp;</td>
            <td class="column3">&nbsp;</td>
            <td class="column4">&nbsp;</td>
            <td class="column5">&nbsp;</td>
            <td class="column6">&nbsp;</td>
            <td class="column7">&nbsp;</td>
          </tr>
        </tbody>
    </table>
  </body>
</html>

In [2]:
# Take incoming Values 
TFC_month = 13978.33
TFC_1Year = 167740.00
TFC_5Year = 838700.00

VCU = 2

SP = 10

# Questions

## a) BEP/ how many do we have to sell that we are in BEP

In [3]:
# BEP in UNITS
# Month
BEP_U_month = CostFunctionContainer.calcBEPUnits(TFC_month, VCU, SP)
print(BEP_U_month)

# 1-Year
BEP_1Year = CostFunctionContainer.calcBEPUnits(TFC_1Year, VCU, SP)
print(BEP_1Year)

# 5-Year
BEP_5Year = CostFunctionContainer.calcBEPUnits(TFC_5Year, VCU, SP)
print(BEP_5Year)

1747.29125
20967.5
104837.5

In [4]:
# Reverse Checkup BEP
profitMonthAtBEP =  CostFunctionContainer.calcProfitsimplePerUnit(BEP_U_month, TFC_month, VCU, SP)
print(profitMonthAtBEP)
profit1YearAtBEP =  CostFunctionContainer.calcProfitsimplePerUnit(BEP_1Year, TFC_1Year, VCU, SP)
print(profit1YearAtBEP)
profit5YearAtBEP =  CostFunctionContainer.calcProfitsimplePerUnit(BEP_5Year, TFC_5Year, VCU, SP)
print(profit1YearAtBEP)

-1.8189894035458565e-12
0.0
0.0

## Answer a)
Der BEP im Moat liegt bei 1747.5 = 1748 Bechern <br>
Der BEP im Jahr 1 liegt bei 20967.5 = 20968 Bechern <br>
Der BEP in den  5 Jahren liegt bei 104837.5 = 104838 Bechern <br>

Das wäre lediglich Kosten-deckend ohne Gewinn

## b) Target Profit = 30000 / Year

In [5]:
TP = 30000
TFC_1YearIncTP = TFC_1Year + TP

In [12]:
# TP-BEP in Units
BEP_1Year_WithTP = CostFunctionContainer.calcBEPUnits(TFC_1YearIncTP, VCU, SP)
print(BEP_1Year_WithTP)

# TP-BEP in Sales
print(BEP_1Year_WithTP*SP)

24717.5
247175.0

In [11]:
# Reverse Checkup
profit_1Year_WithTP =  CostFunctionContainer.calcProfitsimplePerUnit(BEP_1Year_WithTP, TFC_1Year, VCU, SP)
print(profit_1Year_WithTP)

30000.0

## Answer b)
Um einen Gewinn von 30000/Year zu erwirtschaften müssen 24718 Becher umgesetzt,das ist ein Umsatz von 247175.0 werden.

# Information
Im [Glossar](./Glossar.ipynb) sind die einzelnen Kennzahlen beschrieben.<br>
In der [Checkliste](./Checkliste.ipynb) ist eine Vorgehensweise hinterlegt wie man die Porbleme Schrittweise downtaggelt. <br>
Die Funktionen wiederum sind in dem File [CostFunctionContainer.py](./CostFunctionContainer.py) hinterlegt und werden in der ersten Zeile als Import gelistet.